html {
  background: $eggshell;
  color: $daveysgrey;
  font-family: $font-sans;
  font-size: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: $font-sans;
  align-items: center;
}

.messageWrap {
  min-height: 500px;
  max-height: 50vh;
}

.inputWrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}