html {
  background: $color-grey-0;
  color: $color-grey-3;
  font-size: 100%;
  min-height: 100vh;
}

body {
  background: $color-grey-0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.messageWrap {
  min-height: 500px;
  max-height: 50vh;
}

.inputWrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}