.messages {
  list-style-type: none;
  position: absolute;
  width: 100%;
  bottom: 220px;
  z-index: 100;
  font: normal 1.5em/1.25em sans-serif;

  & .item {
    display: block;
    margin-bottom: 1em;

    & .bubble {
      padding: 0.5em;
      border-radius: 1em;
      display: inline-block;
    }
    &.api {
      text-align: right;
      & span{
        max-width: 50%;
        background: $color-punch;
        border-bottom-right-radius: 0;
      }
    }
    &.client {
      text-align: left;
      & span {
        background: $color-grey-1;
        max-width:50%;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.graphItem {
  display: block;

  position: relative;
  margin-bottom: 0.8em;
  & .bar {
    display: block;
    background: $color-punch;
    left: 0;
    bottom: 0;
    height: 5px;
  }

  & .legend {
    display: block;
    font-size: 0.875em;
  }
}